.app-container {
  background-color: white;
  border: 5px solid red;
  padding: 10px;
}

.app-content-hidden {
  display: none;
}

.welcome {
  background-color: #333;
  color: #fff;
  border: 2.5px solid darkorchid;
}
